<%- include('./partials/_header.ejs'); %>
<script type="module">
    import confetti from 'https://cdn.skypack.dev/canvas-confetti';
    confetti();
  </script>
<div class='error'>
<h1 id='error-text' class='text-center'><strong>Congrats</strong></h1>
<h1 class='text-3xl text-center mb-5'>You broke the internet</h1>
<center><a class='link' href='/'>Go Home</a></center>
</div>

