body {

  font-family: "Sora" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  animation: blurIn 1s  cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

#main {
  height: 400px;
}



.anim {
  transition-property: transform;
  -webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


#abt-lnk {
  margin-right: 10px;
  animation: pull-left .5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;;
  animation-fill-mode: forwards;
  animation-delay: .1s;
  opacity: 0;
}

#welcome-lnk {
  margin-right: 10px;
  animation: pull-left .5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;;
  animation-fill-mode: forwards;
  animation-delay: .2s;
  opacity: 0;
}

#contact-lnk {
  margin-left: 10px;
  animation: pull-right .5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;;
  animation-fill-mode: forwards;
  animation-delay: .2s;
  opacity: 0;
}

#test-lnk {
  margin-left: 10px;
  animation: pull-right .5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;;
  animation-fill-mode: forwards;
  animation-delay: .1s;
  opacity: 0;
}

#port-lnk {

  animation: op 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;;
  animation-fill-mode: forwards;
  opacity: 0;
}


@keyframes pull-left {
  0% {
    margin-right: 10px;
    opacity: 0;
  }

  100% {

    opacity: 1;
    margin-right: 50px;

  }
}

@keyframes pull-right {
  0% {
    margin-left: 10px;
    opacity: 0;
  }

  100% {

    opacity: 1;
    margin-left: 50px;

  }
}

@keyframes op {
  0% {
    
    opacity: 0;
  }

  100% {

    opacity: 1;
    

  }
}


/* === AOS ANIMATIONS === */

[data-aos="smooth"] {
  opacity: 0;
  transition-property: transform;
}



[data-aos="smooth"].aos-animate {
  opacity: 1;
  -webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}




/* -------------------------------- */




/* -------------------------------- */





@keyframes slide-top {
  0% {
    transform: translateY(0);
    opacity: 0;
  }

  100% {
    transform: translateY(-30px);
    opacity: 1;
  }
}



.ml12 {
  font-weight: bold;


}


.ml13 {
  font-weight: bold;
}

.ml14 {
  font-weight: bold;
}

.ml15 {
  font-weight: bold;
}

.ml12 .letter {
  display: inline-block;
  line-height: 1em;
}

.ml13 .letter {
  display: inline-block;
  line-height: 1em;
}


.ml14 .letter {
  display: inline-block;
  line-height: 1em;
}

.ml15 .letter {
  display: inline-block;
  line-height: 1em;
}




#alert {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
}

#error-text {
  font-size: 150px;
}


.error {
  margin-top: calc(10% - 100px);
}

#welcome-lnk, #abt-lnk, #contact-lnk, #text-lnk, #port-lnk, #test-lnk {
  transition: all 0.2s;
}

#welcome-lnk:hover, #abt-lnk:hover, #contact-lnk:hover, #text-lnk:hover, #port-lnk:hover, #test-lnk:hover {
  transition: all 0.2s;
  font-weight: bold;
  cursor: pointer;
  letter-spacing: 1px;
}






#port-img {
  margin-top: 27rem;
}


@media (max-width: 1024px) {
  #port-img {
    margin-top: 27rem;
  }
}


@media (max-width: 768px) {
  #port-img {
    margin-top: 32rem;
  }
}

@media (max-width: 600px) {
  #port-img {
    margin-top: 45rem;
  }
}


@keyframes blurIn{
  0%{
    filter: blur(10px);

  }

  100%{
    filter: blur(0px);

  }
}


#scroll-text {
  pointer-events:none;
}