body {

    font-family: "Montserrat" !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

  
/* === AOS ANIMATIONS === */

[data-aos="smooth"] {
	opacity: 0;
	transition-property: transform;
  }

  

[data-aos="smooth"].aos-animate {
	opacity: 1;
	-webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }


  .ml12 {
    font-weight: bold;
  }

  .ml13 {
    font-weight: bold;
  }

  .ml14 {
    font-weight: bold;
  }
  
  .ml12 .letter {
    display: inline-block;
    line-height: 1em;
  }
  
  .ml13 .letter {
    display: inline-block;
    line-height: 1em;
  }
  

  .ml14 .letter {
    display: inline-block;
    line-height: 1em;
  }
  