<%- include('../partials/_header.ejs'); %>


<section class='sm:mt-24 mt-10 md:mb-48 mb-32'>
        <div id='default' class='px-5 mx-auto max-w-4xl'>
            <div id='wrapper' class='lg:flex lg:justify-center' style='height: 1.8em; justify-content: space-between;'>
                <div id='split-1' class='mr-5 max-w-xl'>
                    <div class='mb-5'>
                        <img style='height: 80px;' class=rounded-xl src='/images/bee.jpeg'>
                    </div>
                    <h1 class='text-5xl mb-6 mt-5' style='line-height: 1.25em;'><strong>APCSP Spelling Bee</strong></h1>
                    <p class=' mb-10' style='line-height: 1.75em; color: #848484'>AP Computer Science Principles is an introductory college-level computing course that introduces students to the breadth of the field of computer science. You are tasked to create anything you can create using any language you want. I chose to create a spelling bee. It works how any other spelling bee would would work. You have a word spoken to you and if you get it right a point is given to you.</p>

                </div>

            </div>
            <div class='mt-96 sm:mt-96  mx-auto max-w-4xl'>
                <img style='width: 100%;' class='shadow-2xl md:rounded-3xl rounded-2xl' src='images/bee-ss.png'>
            </div>
        </div>

    </section>
    <section>
        <div id='portfolio-default' class='mx-auto max-w-4xl px-5'>
            <h1 class='text-5xl mb-3 mt-56 md:mt-10 ml13' style='line-height: 1.25em;'><strong>Stack</strong>
            </h1>
            
            <div class="flex flex-wrap -mx-4 overflow-hidden">
    
                <div class="my-4 px-4 w-full overflow-hidden sm:w-1/2 md:w-1/2 lg:w-1/2 xl:w-1/2">
                    
                    <div class='transition bg-gray-50 hover:bg-gray-100 h-56 w-full rounded-3xl p-10'>
                       
                        <h3 class='mb-4 text-black' style='font-size: 24px'><strong>Frontend</strong></h3>
                        <ul class='mb-2'>
                            <li>
                                <p style='color: #848484' >HTML</p>
                            </li>
                            <li>
                                <p style='color: #848484'>CSS</p>
                            </li>
                            <li>
                                <p style='color: #848484'>JS</p>
                            </li>
                        </ul>
                      
                        
                    </div>
                
                </div>
              
                <div class="my-4 px-4 w-full overflow-hidden sm:w-1/2 md:w-1/2 lg:w-1/2 xl:w-1/2">
                    <div class='transition bg-gray-50 hover:bg-gray-100 h-56 w-full rounded-3xl p-10'>
                       
                        <h3 class='mb-4 text-black' style='font-size: 24px'><strong>Backend</strong></h3>
                        <ul class='mb-2'>
                            <li>
                                <p style='color: #848484' >JS</p>
                            </li>
                            <li>
                                <p style='color: #848484'>Firebase</p>
                            </li>
                        </ul>
                      
                        
                    </div>
                
                </div>
                </div>
              
              </div>
    
    
               
            </div>
        </div>
    </section>

</div>