<%- include('../partials/_header.ejs'); %>


<section class='sm:mt-24 mt-10 mb-48'>
    <div id='default' class='px-5 mx-auto max-w-4xl'>
        <div id='wrapper' class='lg:flex lg:justify-center' style='height: 1.8em; justify-content: space-between;'>
            <div id='split-1' class='mr-5 max-w-xl'>
                <div class='mb-5'>
                    <img style='height: 80px;' class=rounded-xl src='/images/icon.png'>
                </div>
                <h1 class='text-5xl mb-6 mt-5' style='line-height: 1.25em;'><strong>FRCS</strong></h1>
                <p class=' mb-10' style='line-height: 1.75em; color: #848484'>Commodo id cupidatat ipsum amet pariatur
                    velit est. Tempor sit esse qui ullamco do commodo esse amet. Deserunt magna aliquip sit id Lorem
                    aliquip minim es</p>
                
            </div>
            
        </div>
    </div>

</section>

