<%- include('../partials/_header.ejs'); %>


    <div data-aos="smooth" data-aos-delay="0" data-aos-easing="ease-in-out-cubic">
<section class='sm:mt-36 mt-20 md:mb-48 mb-32'>
    <div id='default' class='px-5 mx-auto max-w-4xl'>
        <div id='wrapper' class='lg:flex lg:justify-center' style='height: 1.8em; justify-content: space-between;'>
            <div id='split-1' class='mr-5 '>
                <div class='mb-5'>
                    <img style='height: 80px;' class=rounded-xl src='/images/icon.png'>
                </div>
                <h1 class='text-5xl mb-6 mt-5' style='line-height: 1.25em;'><strong>FRCS</strong></h1>
                <a href='https://frcs.online' class='pb-6 flex'>
                    <strong >Go to Site</strong>
                    <div class=' transition ml-2' id='btn-arrow'><svg xmlns="http://www.w3.org/2000/svg"
                        class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M13 7l5 5m0 0l-5 5m5-5H6" />
                    </svg></div>
                </a>
                <p class=' mb-10 mt-5' style='line-height: 1.75em; color: #848484'>FRCS is a international crowed sourced platform created to gather data for the FIRST Robotics Competition. It used an internal database to store data based on robots performace and calculate stats about each match. This would help teams better understand other teams they were with or against during matches</p>

            </div>

        </div>
        <div id='port-img' class='mx-auto max-w-4xl relative'>
            <img style='width: 100%;' class='shadow-2xl md:rounded-3xl rounded-2xl' src='images/frcs-ss.png'>
        </div>
    </div>
</section>
<section >
    <div id='portfolio-default' class='mx-auto max-w-4xl px-5'>
        <h1 class='text-5xl mb-3 mt-56 md:mt-10 ml13' style='line-height: 1.25em;'><strong>Stack</strong>
        </h1>
        
        <div class="flex flex-wrap -mx-4 overflow-hidden">

            <div class="my-4 px-4 w-full overflow-hidden sm:w-1/2 md:w-1/2 lg:w-1/2 xl:w-1/2">
                
                <div class='transition bg-gray-50 hover:bg-gray-100 h-56 w-full rounded-3xl p-10'>
                   
                    <h3 class='mb-4 text-black' style='font-size: 24px'><strong>Frontend</strong></h3>
                    <ul class='mb-2'>
                        <li>
                            <p style='color: #848484' >HTML</p>
                        </li>
                        <li>
                            <p style='color: #848484'>CSS</p>
                        </li>
                        <li>
                            <p style='color: #848484'>TailwindCSS</p>
                        </li>
                        <li>
                            <p style='color: #848484'>JS</p>
                        </li>
                    </ul>
                  
                    
                </div>
            
            </div>
          
            <div class="my-4 px-4 w-full overflow-hidden sm:w-1/2 md:w-1/2 lg:w-1/2 xl:w-1/2">
                <div class='transition bg-gray-50 hover:bg-gray-100 h-56 w-full rounded-3xl p-10'>
                   
                    <h3 class='mb-4 text-black' style='font-size: 24px'><strong>Backend</strong></h3>
                    <ul class='mb-2'>
                        <li>
                            <p style='color: #848484' >Django</p>
                        </li>
                        <li>
                            <p style='color: #848484'>JS</p>
                        </li>
                    </ul>
                  
                    
                </div>
            
            </div>
            </div>
          
          </div>


           
        </div>
    </div>
</section>

</div>
</div>

<script>

AOS.init({
    // Global settings:
    startEvent: 'DOMContentLoaded', // name of the event dispatched on the document, that AOS should initialize on
    initClassName: 'aos-init', // class applied after initialization
    animatedClassName: 'aos-animate', // class applied on animation
    useClassNames: false, // if true, will add content of `data-aos` as classes on scroll
    disableMutationObserver: false, // disables automatic mutations' detections (advanced)
    debounceDelay: 50, // the delay on debounce used while resizing window (advanced)
    throttleDelay: 99, // the delay on throttle used while scrolling the page (advanced)


    // Settings that can be overridden on per-element basis, by `data-aos-*` attributes:
    delay: 0, // values from 0 to 3000, with step 50ms
    duration: 400, // values from 0 to 3000, with step 50ms
    easing: 'ease', // default easing for AOS animations
    once: false, // whether animation should happen only once - while scrolling down
    mirror: false, // whether elements should animate out while scrolling past them
    anchorPlacement: 'top-bottom', // defines which position of the element regarding to window should trigger the animation

});
</script>