<%- include('../partials/_header.ejs'); %>


    <section class='sm:mt-24 mt-10 mb-48'>
        <div id='default' class='px-5 mx-auto max-w-4xl'>
            <div id='wrapper' class='lg:flex lg:justify-center' style='height: 1.8em; justify-content: space-between;'>
                <div id='split-1' class='mr-5 max-w-xl'>
                    <h1 class='text-5xl mb-6 mt-5' style='line-height: 1.25em;'><strong>Portfolio</strong></h1>
                    <p class=' mb-10' style='line-height: 1.75em; color: #848484'>Here is a full list of the things that I have been working on</p>
                    
                </div>

            </div>
        </div>

    </section>

    <section id='portfolio' class=''>
        <div id='portfolio-default' class='mx-auto max-w-4xl px-4 '>


            <div class="flex flex-wrap -mx-3 overflow-hidden sm:-mx-3 md:-mx-3 lg:-mx-3 xl:-mx-3">

                <div
                    class="my-3 px-3 w-full overflow-hidden sm:my-2 sm:px-2 md:my-3 md:px-3 lg:my-2 lg:px-2 lg:w-1/2 xl:my-4 xl:px-4 xl:w-1/2">
                    <div
                        class='transition bg-gray-50 hover:bg-gray-100 md:md:h-80 lg:w-96 w-full rounded-3xl p-10 cursor-pointer'>
                        <div class='mb-5'>
                            <img style='height: 80px;' class=rounded-xl src='/images/icon.png'>
                        </div>
                        <h3 class=' text-black' style='font-size: 24px'><strong>FRCS</strong></h3>
                        <h3 class='mb-4 text-md' style='font-size: 16px; color: #848484'><strong>Website</strong></h3>

                        <p style='color: #848484' class='mb-2'>FRCS is an international crows sourced digital platform created to gather data by students for the FIRST Robotics Competition</p>
                        <a href='/frcs' class='link transition text-black md:mr-7 hover:text-gray-500'>
                            <strong>More Info</strong>
                        </a>
                    </div>
                </div>

                <div
                    class="my-3 px-3 w-full overflow-hidden sm:my-2 sm:px-2 md:my-3 md:px-3 lg:my-2 lg:px-2 lg:w-1/2 xl:my-4 xl:px-4 xl:w-1/2">
                    <div
                        class='transition bg-gray-50 hover:bg-gray-100 md:md:h-80 lg:w-96 w-full rounded-3xl p-10 cursor-pointer'>
                        <div class='mb-5'>
                            <img style='height: 80px;' class=rounded-xl src='/images/scsday.png'>
                        </div>
                        <h3 class=' text-black' style='font-size: 24px'><strong>SCSDay</strong></h3>
                        <h3 class='mb-4 text-md' style='font-size: 16px; color: #848484'><strong>IOS / Android App</strong></h3>

                        <p style='color: #848484' class='mb-2'>SCSDay is a simple app created for Smithtown High Schools. It gives students the alternating A/B day schedule.</p>
                        <a href='/scsday' class='link transition text-black md:mr-7 hover:text-gray-500'>
                            <strong>More Info</strong>
                        </a>
                    </div>


                </div>

                <div
                    class="my-3 px-3 w-full overflow-hidden sm:my-2 sm:px-2 md:my-3 md:px-3 lg:my-2 lg:px-2 lg:w-1/2 xl:my-4 xl:px-4 xl:w-1/2">
                    <div
                        class='transition bg-gray-50 hover:bg-gray-100 md:md:h-80 lg:w-96 w-full rounded-3xl p-10 cursor-pointer'>
                        <div class='rounded-xl h-20 w-20 mb-5' style='background-color: #2ab7d6;'>
                            <img class=rounded-xl src='/images/customz.png'>
                        </div>
                        <h3 class='text-black' style='font-size: 24px'><strong>Taylors Customz</strong></h3>
                        <h3 class='mb-4 text-md' style='font-size: 16px; color: #848484'><strong>Website</strong></h3>

                        <p style='color: #848484' class='mb-2'>Taylors Customz is a website built for a small business in which customers can go and see custom designs that they can order.</p>
                        <a href='/taylors-customz' class='link transition text-black md:mr-7 hover:text-gray-500'>
                            <strong>More Info</strong>
                        </a>
                    </div>
                </div>

                <div
                    class="my-3 px-3 w-full overflow-hidden sm:my-2 sm:px-2 md:my-3 md:px-3 lg:my-2 lg:px-2 lg:w-1/2 xl:my-4 xl:px-4 xl:w-1/2">
                    <div
                        class='transition bg-gray-50 hover:bg-gray-100 md:md:h-80 lg:w-96 w-full rounded-3xl p-10 cursor-pointer'>
                        <div>
                            <img style='height: 80px;' class='rounded-xl mb-5' src='images/bee.jpeg'>
                        </div>
                        <h3 class=text-black' style='font-size: 24px'><strong>Spelling Bee</strong></h3>
                        <h3 class='mb-4 text-md' style='font-size: 16px; color: #848484'><strong>Website</strong></h3>

                        <p style='color: #848484' class='mb-2'>The APCSP Spelling bee website was designed for the AP Computer Science Priciples AP Exam create task.</p>
                        <a href='/bee' class='link transition text-black md:mr-7 hover:text-gray-500'>
                            <strong>More Info</strong>
                        </a>
                    </div>
                </div>
                <div
                    class="my-3 px-3 w-full overflow-hidden sm:my-2 sm:px-2 md:my-3 md:px-3 lg:my-2 lg:px-2 lg:w-1/2 xl:my-4 xl:px-4 xl:w-1/2">
                    <div
                        class='transition bg-gray-50 hover:bg-gray-100 md:md:h-80 lg:w-96 w-full rounded-3xl p-10 cursor-pointer'>
                        <div>
                            <img style='height: 80px;' class='rounded-xl mb-5' src='images/mhs.png'>
                        </div>
                        <h3 class='text-black' style='font-size: 24px'><strong>Math Honor Society</strong></h3>
                        <h3 class='mb-4 text-md' style='font-size: 16px; color: #848484'><strong>Website</strong></h3>

                        <p style='color: #848484' class='mb-2'>SHSE MHS is a website built for the Smithtown High School East Math Honor Society</p>
                        <a href='/shse' class='link transition text-black md:mr-7 hover:text-gray-500'>
                            <strong>More Info</strong>
                        </a>
                    </div>
                </div>
                
                <div
                    class="my-3 px-3 w-full overflow-hidden sm:my-2 sm:px-2 md:my-3 md:px-3 lg:my-2 lg:px-2 lg:w-1/2 xl:my-4 xl:px-4 xl:w-1/2">
                    <div
                        class='transition bg-gray-50 hover:bg-gray-100 md:md:h-80 lg:w-96 w-full rounded-3xl p-10 cursor-pointer'>
                        <div>
                            <img style='height: 80px;' class='rounded-xl mb-5'
                                src='https://static.wixstatic.com/media/5cf9e9_bff0b9368f6e4cd58f76ab3b438b1ba5~mv2.png/v1/fill/w_80,h_80,al_c,q_85,usm_0.66_1.00_0.01/Logo5.webp'>
                        </div>
                        <h3 class=' text-black' style='font-size: 24px'><strong>Peerlab Tutoring</strong></h3>
                        <h3 class='mb-4 text-md' style='font-size: 16px; color: #848484'><strong>Website</strong></h3>

                        <p style='color: #848484' class='mb-2'>PeerLab Tutoring is a student-based FREE tutoring
                            nonprofit based in Smithtown, NY. </p>
                        <a href='/peerlab' class='link transition text-black md:mr-7 hover:text-gray-500'>
                            <strong>More Info</strong>
                        </a>
                    </div>
                </div>
            </div>


        </div>
</div>
</section>
</div>