<%- include('../partials/_header.ejs'); %>


    <section class='sm:mt-24 mt-10 md:mb-48 mb-32'>
        <div id='default' class='px-5 mx-auto max-w-4xl'>
            <div id='wrapper' class='lg:flex lg:justify-center' style='height: 1.8em; justify-content: space-between;'>
                <div id='split-1' class='mr-5 max-w-xl'>
                    <div class='mb-5'>
                        <img style='height: 80px;' class=rounded-xl
                            src='https://static.wixstatic.com/media/5cf9e9_bff0b9368f6e4cd58f76ab3b438b1ba5~mv2.png/v1/fill/w_80,h_80,al_c,q_85,usm_0.66_1.00_0.01/Logo5.webp'>
                    </div>
                    <h1 class='text-5xl mb-6 mt-5' style='line-height: 1.25em;'><strong>Peerlab Tutoring</strong></h1>
                    <p class=' mb-10' style='line-height: 1.75em; color: #848484'>PeerLab Tutoring is a student-based
                        FREE tutoring nonprofit based in Smithtown, NY.</p>

                </div>

            </div>
            <div class='mt-80 mx-auto max-w-4xl'>
                <img style='width: 100%;' class='shadow-2xl md:rounded-3xl rounded-2xl'
                    src='https://yt3.ggpht.com/ytc/AAUvwniskz1nDYKqQqmRcwyspqXEXQXlgiUia7V0GNFn7g=s900-c-k-c0x00ffffff-no-rj'>
            </div>
        </div>

    </section>
    <section id='about' class=''>
        <div id='about-default' class='mx-auto max-w-4xl px-5'>
            <h1 class='text-5xl mb-3 md:mt-10' style='line-height: 1.25em;'><strong>What Is Peerlab Tutoring</strong>
            </h1>
            <p style='line-height: 1.75em; color: #848484'>PeerLab Tutoring is a student-based FREE tutoring nonprofit
                based in Smithtown, NY. They
                aim to help students excel in school and overcome any learning obstacles. They will teach students
                strategies and techniques that they have developed through their experience in the classroom</p>
        </div>
    </section>

    <section>
        <div id='about-default' class='mx-auto max-w-4xl px-5'>
            <h1 class='text-5xl mb-3 md:mt-10' style='line-height: 1.25em;'><strong>Technologies Used</strong></h1>


        </div>
    </section>
</div>