<%- include('../partials/_header.ejs'); %>


    <section class='sm:mt-24 mt-10 md:mb-48 mb-32'>
        <div id='default' class='px-5 mx-auto max-w-4xl'>
            <div id='wrapper' class='lg:flex lg:justify-center' style='height: 1.8em; justify-content: space-between;'>
                <div id='split-1' class='mr-5 '>
                    <div class='mb-5'>
                        <img style='height: 80px;' class=rounded-xl src='/images/scsday.png'>
                    </div>
                    <h1 class='text-5xl mb-6 mt-5' style='line-height: 1.25em;'><strong>SCSDay</strong></h1>
                    
                    <p class=' mb-10' style='line-height: 1.75em; color: #848484'>SCSDay is a quick and easy way to check the current day based on an A / B day schedule. During COVID-19, the days were always changing and nobody really knew if it was an A or B day. This is a solution to that problem.</p>

                </div>

            </div>
            <div class='mt-80 mx-auto max-w-4xl'>
                <div class="flex flex-wrap -mx-3 overflow-hidden">

                    <div class="my-3 px-3 w-full overflow-hidden lg:w-1/3">
                        <img style='width: 100%; border-radius: 30px;' class='' src='/images/scsday-ss1.png'>

                    </div>

                    <div class="my-3 px-3 w-full overflow-hidden lg:w-1/3">
                        <img style='width: 100%; border-radius: 30px;' class='' src='/images/scsday-ss2.png'>

                    </div>

                </div>
            </div>
        </div>

    </section>
   

    <section >
        <div id='portfolio-default' class='mx-auto max-w-4xl px-5'>
            <h1 class='text-5xl mb-3 mt-56 md:mt-10 ml13' style='line-height: 1.25em;'><strong>Stack</strong>
            </h1>
            
            <div class="flex flex-wrap -mx-4 overflow-hidden">
    
                <div class="my-4 px-4 w-full overflow-hidden sm:w-1/2 md:w-1/2 lg:w-1/2 xl:w-1/2">
                    
                    <div class='transition bg-gray-50 hover:bg-gray-100 h-56 w-full rounded-3xl p-10'>
                       
                        <h3 class='mb-4 text-black' style='font-size: 24px'><strong>Frontend</strong></h3>
                        <ul class='mb-2'>
                            <li>
                                <p style='color: #848484' >Dart</p>
                            </li>
                            <li>
                                <p style='color: #848484'>Flutter</p>
                            </li>
                           
                        </ul>
                      
                        
                    </div>
                
                </div>
              
                <div class="my-4 px-4 w-full overflow-hidden sm:w-1/2 md:w-1/2 lg:w-1/2 xl:w-1/2">
                    <div class='transition bg-gray-50 hover:bg-gray-100 h-56 w-full rounded-3xl p-10'>
                       
                        <h3 class='mb-4 text-black' style='font-size: 24px'><strong>Backend</strong></h3>
                        <ul class='mb-2'>
                            <li>
                                <p style='color: #848484' >Dart</p>
                            </li>
                            
                        </ul>
                      
                        
                    </div>
                
                </div>
                </div>
              
              </div>
    
    
               
            </div>
        </div>
    </section>
    
    </div>
</div>